/* Images */
img{
  max-width: 100%;
  height: auto;
  &.alignleft{
    margin: 5px 20px 5px 0;
  }
  &.alignright{
    margin: 5px 0 5px 20px;
  }
  &.aligncenter{
    margin: 5px auto;
  }
  &.alignnone{
    margin: 5px 0;
  }
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* image gallery */
.wpb_gallery .wpb_gallery_slides{
  border:none;
  margin-bottom:20px;
  ol.flex-control-nav {
    bottom:0;
    li{
      margin:0;
      a{
          width: 10px;
          height: 10px;
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.5);
          margin: 5px;
          @include transition(all 0.2s ease-out);
          @include border-radius(50%);
          &.flex-active{
            background-color:#fff;
          }
      }
    }
  }
  ul.flex-direction-nav{
    display: none;
  }
}


body .mejs-container {
    height: 50px !important;
}
body .mejs-container .mejs-controls {
    height: 50px;
}

body .mejs-embed, 
body .mejs-embed body, 
body .mejs-container .mejs-controls {
    background: #fff !important;
}
body .mejs-container .mejs-controls {
    border: 2px solid #eeeeee;
    @include border-radius(2px);
}
body  .mejs-container .mejs-controls .mejs-time .mejs-currenttime,
body  .mejs-container .mejs-controls .mejs-time .mejs-duration {
    color: #333;
    display: block;
    line-height: 47px;
    width: 100%;
}
body .mejs-controls .mejs-time-rail .mejs-time-total, 
body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
body .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #f5f5f5;
     @include border-radius(0);
}
body .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #333;
}
body .mejs-offscreen,
body .mejs-time-float  {
    display: none !important;
}
body .mejs-controls .mejs-time-rail span, 
body .mejs-controls .mejs-time-rail a,
body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    height: 10px;
}
body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #333;
}
body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  top: 9px;
}
body .mejs-playpause-button,
body .mejs-container .mejs-controls .mejs-currenttime-container,
body .mejs-time.mejs-duration-container {
    border-right: 2px solid #eee !important;
    height: 47px !important;
    width: 50px !important;
    padding: 0 !important;
    line-height: 47px;
    position: relative;
}
body .mejs-playpause-button button {
    left: 0;
    margin: auto !important;
    position: absolute !important;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
       -moz-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
         -o-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
}
body .mejs-controls div.mejs-time-rail {
    border-right: 2px solid #eee;
    height: 47px;
    padding: 0;
}
body .mejs-button.mejs-volume-button {
    height: 47px;
}
body .mejs-controls .mejs-time-rail .mejs-time-total {
    margin: 19px 16px;
}
body .mejs-button.mejs-playpause-button > button {
    padding: 8px 0 0 2px;
    outline: none;
}
body .mejs-controls .mejs-button button:focus {
  outline: none;
}
body .mejs-button.mejs-volume-button > button {
    margin: 3px 0 0 6px;
    height: 47px;
}
body .mejs-button.mejs-playpause-button > button,
body .mejs-button.mejs-volume-button > button {
    background: transparent;
    outline: none;
}
.mejs-button.mejs-playpause-button.mejs-play > button:before,
.mejs-button.mejs-playpause-button.mejs-pause > button:before,
body .mejs-button.mejs-volume-button.mejs-mute > button:before,
body .mejs-button.mejs-volume-button.mejs-unmute > button:before {
    font-size: 16px;
    content: "\f04b";
    font-family: 'FontAwesome';
    color: #333;
}
.mejs-button.mejs-playpause-button.mejs-pause > button:before {
    content: "\f04c";
    font-family: FontAwesome;
    font-size: 13px;
}
body .mejs-button.mejs-volume-button.mejs-mute > button:before {
    content: "\f028 ";
    font-family: FontAwesome;
}
body .mejs-button.mejs-volume-button.mejs-unmute > button:before {
    content: "\f026 ";
    font-family: FontAwesome;
}
body .mejs-controls .mejs-horizontal-volume-slider {
    margin-top: 10px;
}


body .light_mode .mejs-embed, 
body .light_mode .mejs-embed body, 
body .light_mode .mejs-container .mejs-controls {
    background: #dfdfdf !important;
}

blockquote{
  padding-left:45px;
    position:relative;
    font-style: italic;
    display: inline-block;
    margin-left: 0;
    &:before{
      position:absolute;
      left: 0;
      top: -15px;
       content: '‘‘';
      font-size: 70px;
      color:$primary-color;
      font-family: "Playfair Display";
      font-style: normal;
      line-height: 1;
  }
  p{
    margin:0 0 10px 0 !important;
    padding: 10px 0 !important;
  }
}

.entry-quote{
  blockquote{
    padding-left:55px;
      position:relative;
      font-style: italic;
      display: inline-block;
      font-size: 22px;
      &:before{
        position:absolute;
        left: 0;
        top: 0;
        content: '‘‘';
        font-size: 95px;
        color:$primary-color;
        font-family: "Playfair Display";
        font-style: normal;
        line-height: 65px;
    }
    p{
      margin:0 0 10px 0 !important;
      padding: 10px 0 !important;
    }
  }
}