.social-circle li a:hover {
  background: #C83526;
  border-color: #C83526;
}

.icon-rounded:hover {
  background: #C83526;
  border-color: #C83526;
}

.tagcloud a:hover {
  background: #C83526;
  border-color: #C83526;
}
