@font-face {
    font-family: FranklinGothic-BookIt;
    src: url(fonts/FranklinGothic-BookIt-webfont.woff);
}

@font-face {
    font-family: FranklinGothic-Book;
    src: url(fonts/FranklinGothic-Book-webfont.woff);
}

@font-face {
    font-family: Caveat;
    src: url(Caveat/Caveat-Bold.ttf);
}


@font-face {
  font-family: 'FranklinGothic';
  src: url('franklingothicbkcp/ITCFranklinGothicStd-BkCpIt.otf'); /* IE9 Compat Modes */
  src: url('franklingothicbkcp/ITCFranklinGothicStd-BkCdIt.otf') format('woff'), /* Pretty Modern Browsers */

}


@font-face {
  font-family: 'Caveat';
  src: url('Caveat/Caveat-Bold.ttf'); /* IE9 Compat Modes */
  src: url('Caveat/Caveat-Bold.ttf') format('ttf'), /* Pretty Modern Browsers */

}
